@page
@model Archive.CDManagement.Frontend.Pages.CDPages.CDCreateModel
@{
    ViewData["Title"] = "CD Create Page";
}
<div class="text-center">
    <h1 class="display-4">Create CD</h1>
    <p>TODO</p>
</div>