@page
@model Archive.CDManagement.Frontend.Pages.CDPages.CDEditModel
@{
    ViewData["Title"] = "CD Edit Page";
}
<div class="text-center">
    <h1 class="display-4">Edit CD</h1>
    <p>TODO</p>
</div>