@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>CD Managment.</a></p>
    <form method="post">
        <div class="form-group" style="align-content: center">
            <label for="inputName">Enter Your Name:</label>
            <input class="form-control" asp-for="@Model.UserName" id="inputName">
        </div>
        <input type="submit" />
    </form>
</div>